body {
	width: 710px;
	margin-left: 100px;
	background-color: #FFFFFF;
	font-family: verdana,trebuchet,arial,sans-serif;
	font-size: 80%;

}

td {
	padding: 0px;
	padding-right: 10px;
	text-align: left;
}

h1 {
	color: #D00000; /* D0D0D0 */
	font-weight: normal;
	letter-spacing: .3em;
	padding-left: .3em;
	border-bottom-style: solid;
	border-bottom-width: 5pt;
	border-bottom-color: #B00000;/* #F0F0F0; */
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #B00000;
}
h2 {
	color: #FFFFFF; /* 000000 */
	background-color: #B00000;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-left: 1em;
	font-weight: bold;
	font-size: 110%;

}

a:link {
	color: #900000;
	text-decoration: underline;
}


a:visited {
	color: #900000;
	text-decoration: underline;
}

a:hover {
	/* color: #0000B0;*/
	background-color: #D0D0D0;
	text-decoration: underline;
}


#footer {
	font-size: 80%;
	font-style: italic;
}
